<h1>Edit Page</h1>

<%= simple_form_for @b,:html => {:multipart => true} do |f| %>

  <%=f.select :category_id,@c %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.button :submit %>
<% end %>