<!DOCTYPE html>
<html>
  <head>
    <title>Bookreview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <%= link_to "index", root_path,class: "navbar-brand"%>     
    </div>

    <ul class="nav navbar-nav">
    <li><%=link_to "sign up",new_user_registration_path%>  </li>
      <% if user_signed_in?%>
        <li><%=link_to "sign out", destroy_user_session_path,method: :delete%></li>

      <% else %>
        <li><%=link_to "log in", new_user_session_path%></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%=link_to "add book",new_book_path%></li> 
          <% end %>        
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
    <% Category.all.each do |c|%>
    <li class="<%= 'active' if params[:category]== c.name%>">
    <%= link_to c.name, books_path(category: c.name),class: "link"%>
    </li>
    
    <% end %>
    </ul>
          </li>       
    </ul>

  </div>
</div>


  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
